header {
    width: 100%;
    background-color: #355872;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    color: #F7F8F0;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    width: 100%;
}

li {
    padding: 2%;
}

a {
    text-decoration: none;
    color: #F7F8F0;
    white-space: nowrap;
    padding: 10%;
    border-radius: 10px 0;
}

a:hover {
    background-color: #7AAACE;
}

.active {
    background-color: #7AAACE;
}