body {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
}

main {
  min-height: 400px;
  background-color: #F7F8F0;
  color: #355872;
  margin: 0;
  padding: 1%;
  width: 100%;
  margin: 0;
}

h2 {
  margin: 0;
  text-align: center;
}